.app__navbar {
  display: flex;
  flex-direction: row;
  padding: 2rem 6rem;
  justify-content: space-between;
}

.app__navbar-mynmae {
  display: flex;
  margin-right: 4rem;
  align-items: center;
}

.app__navbar-mynmae a{
  text-decoration: none;
  margin-right: 4rem;
}

.app__navbar-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 3rem;
  align-items: center;
}

.app__navbar-links a {
  text-decoration: none;
  font-size: 30px;
}

.app__navbar-smallscreen_links {
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 1rem;
  background-color: darkgray;
  padding: 1rem;
}

@media screen and (min-width: 1200px) {

  .app__navbar-smallscreen {
    display: flex;
  }
}